.rev-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px 18px;

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #374151;
        margin-bottom: 0rem;
    }

    .value {
        color: #222952;
        font-size: 16px;
        font-weight: 400;
        margin-top: 3px;
    }
}