/* Reset & Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f9fc;
}

/* Layout */
.dashboard {
  display: flex;
  min-height: 100vh;
  width: 80vw;
}

.sidebar {
  min-width: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  padding: 20px 10px;
    height: auto; 
  min-height: 100%; 
    position: relative;
}

.logo img {
  height: 30px;
  display: block;
  margin: 0 auto 20px;
}

.nav, .settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  padding: 5px;
}

.nav h5
{
  font-size: 12px;
  font-weight: bold;
   color: #555;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 8px;
  color: #555;
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: 12px;
  font-weight: bold;
}

.nav-item:hover {
  background: #f1f5ff;
}

.nav-item.active {
  background: #e9f0ff;
  color: #0057ff;
}

.user-info {
  font-size: 13px;
  color: #999;
  position: absolute;
 bottom: 5px;
  padding-left: 12px;
}

/* Main */
.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

}

.header {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 10px;
}

.button-outline {
  padding: 0px 20px;
  background-color: rgba(226, 225, 225, 0.888);
  border-radius: 20px;
  cursor: pointer;
height: 25px;
}

.button-primary {
  padding: 0px 20px;
     background: linear-gradient(to left, #000000, #002E6F, #0076CD, #00A1BD, #00C8AF);
     height: 25px;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.select {
  margin-left: auto;
  padding: 6px 10px;
  font-size: 10px;
  border-radius: 10px;
  width: 30%;
}

.main-flex-container {
  display: flex;
  gap: 24px; 
  align-items: flex-start;
  width: 80vw;

}


/* Cards & Sections */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  width: 52%;
  padding-top: 1rem;

}

.dashboard-card {
  background: #f8fbfd;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 130px;
  height: 110px;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  }

  .title {
    font-size: 10px;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .value {
    font-size: 15px;
    font-weight: bold;

    span {
      font-weight: normal;
      color: #999;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 1200px;
  max-width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size:2rem;
  cursor: pointer;
}

.table-container {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
}

.head {
  background-color: #e2e2e2;
  font-weight: bold;
  color: #333;

}

tr:hover {
  background-color: #f1f5ff;
}

td {
  color: #555;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


.popup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.popup-card {
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 8px;
}

.reports-chart {
  background: #f9fbfc;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  font-family: 'Inter', sans-serif;
width: 70%;
height:42vh ;
margin-left: 20px;

  .title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #1e1b4b;
  }

  .custom-tooltip {
    background: #0f172a;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    h4 {
      font-size: 10px;
      margin: 0;
      font-weight: 600;
    }

    p {
      margin: 0;
      opacity: 0.6;
      background-color: #0057ff;
    }
  }
}

.gauge-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;


  .header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .title {
      font-weight: 600;
    }

    .link {
      color: #3b82f6;
      font-size: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .dropdown {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    font-size: 12px;

    label {
      margin-right: 5px;
    }

    select {
      border: none;
      background: transparent;
      font-weight:bold;
      cursor: pointer;
      outline: none;
    }
  }

  .gauge {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 50px;

    svg {
      width: 100%;
      height: 100%;
    }

    .gauge-center {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -45%);
      text-align: center;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      strong {
        font-size: 15px;
        color: #111827;
      }

      p {
        font-size: 10px;
        color: #6b7280;
      }
    }
  }
}


.sharing-card-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

  .sharing-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .sharing-title {
      font-weight: 600;
    }

    .sharing-link {
      color: #3b82f6;
      font-size: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .table-data{
  margin: 30px;
  text-align: center;
  }
  .sharing-status-table {
    margin-top: 16px;
  

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 10px;
      text-align: left;

      th {
        color: #9ca3af;
        font-weight: 500;
        padding-bottom: 8px;
        font-size: 10px;
      }

      td {
        padding: 4px 0;
        color: #111827;

        .status-dot {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 6px;
          vertical-align: middle;
        }
      }
    }
  }

  .donut-chart-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;

    .donut-center-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      strong {
        font-size: 20px;
        color: #111827;
      }

      p {
        font-size: 8px;
        color: #6b7280;
      }
    }
  }
}


.three-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.pie-wrapper .pie {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #0057ff;
  border-top-color: transparent;
  margin: 0 auto 10px;
}

.conversion {
  font-size: 28px;
  font-weight: bold;
  color: #0057ff;
  text-align: center;
  margin-top: 12px;
}

.total {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .select {
    margin-left: 0;
  }

  .sidebar {
    width: 200px;
  }

  .metrics {
    grid-template-columns: 1fr;
  }
}
