@use '../../../styles/variable' as *;

.search-container {
 position: relative;

 .search-input {
  width: 100%;
  padding: 5px 10px 5px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f2ff;
 }

 .search-icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: $form-fields-bg-color;
 }
 .search-input:focus {
  outline: none;
 }
}
