$app-bg-color: #F4F8FB; // #F7F7FB // #fbfdff
$main-page-background: #f9fafb;

$collapse-header-font: #374151;
$collapse-header-bg: #ffffff;

$tabs-head-bg: #e5f6ff;
$tabs-active-font: #0382c8;

$title-seperation-line: #d7d8dc;

$save-button-forms: #0382c8;

$list-table-bg: #def0fc;
$list-table-border: #bbdff4;

$form-fields-bg-color: #4e4e4e;
$password-eye-color: #94a5b9;
$app-font-color: #2c99d6;
$light-sky-color: #dbebf5;
$dashboard-dark-color: #585c65;
$table-title-color: #3f3f3f;
$form-fields-highlight: #2c99d6;