.redirect-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000000, #002E6F, #0076CD, #00A1BD, #00C8AF);
  color: white;
  text-align: center;
  gap: 20px;
  padding: 20px;

  @media (max-width: 480px) {
    padding: 15px;
  }

  .navigation-buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);

    @media (max-width: 768px) {
      max-width: 90%;
      padding: 20px;
    }

    @media (max-width: 480px) {
      padding: 15px;
    }
  }

  .login-title {
    color: white !important;
    margin-bottom: 10px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
  }

  .login-form {
    width: 100%;
  }

  .form-item {
    margin-bottom: 10px !important;

    @media (max-width: 480px) {
      margin-bottom: 15px !important;
    }
  }

  .ant-form-item-label {
    text-align: left !important;
    margin-bottom: 0px !important;
    padding: 0 !important;

    >label {
      color: white !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      margin-bottom: 0px !important;

      @media (max-width: 480px) {
        font-size: 13px !important;
      }
    }
  }

  .input-field {
    height: 40px;
    border-radius: 30px !important;
    border: none !important;
    background-color: white !important;
    padding: 4px 15px !important;

    &.ant-input-affix-wrapper {
      padding: 0 11px !important;

      >input.ant-input {
        background-color: transparent !important;
      }
    }
  }

  .login-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 30px !important;
    font-weight: bold !important;
    background-color: #00C8AF !important;
    border-color: #00C8AF !important;

    &:hover {
      background-color: #00a192 !important;
      border-color: #00a192 !important;
    }
  }

  .summary-btn {
    background-color: green !important;
    border-color: green !important;
    border-radius: 4px !important;
    height: 32px;
    min-width: 100px;

    &:hover {
      background-color: #006400 !important;
      border-color: #006400 !important;
    }
  }

  .ant-form-item-explain-error {
    color: #ff4d4f !important;
    font-size: 12px !important;
    margin-left: 10px !important;
    text-align: left !important;
  }
}