@use '../../../styles/variable' as *;

.float-label-input {
 display: flex;
 flex-direction: column;
 position: relative;

 label {
  user-select: none;
  cursor: text;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 300ms ease;
  font-size: 13px;
  font-weight: 400;
 }

 input {
  width: 100%;
  padding: 6px 0;
  border: none;
  background-color: transparent;
  border: 1px solid $collapse-header-font;
  font-size: 14px;
  //  font-weight: 300;
  transition: 300ms ease;
  font-size: 14px;

  &:focus {
   outline: none;
   border-color: $app-font-color;
   box-shadow: 0 1px 0 0 $app-font-color;
  }
  &:focus + label,
  &:not(:placeholder-shown) + label {
   transform: translateY(-18px);
   font-size: 12px;
   color: $dashboard-dark-color;
   font-weight: 600;
  }
 }

 button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $password-eye-color;
 }
}
