// Accordion.scss
.acc_rev {
    width: 100%;
    margin: 0 auto;

    .accordion-header {
        // padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .review-title-sa {
            font-size: 1rem;
            font-weight: 600;
            color: #374151;
            margin-bottom: 0.4rem;
        }
    }

    .accordion-content {
        padding: 0 10px;

        .sub-text-sa {
            color: #222952;
            font-size: 16px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}